.NavBar {
    position: fixed;
    left: 0%; top: auto; right: 0%; bottom: -10px;
    background-color: white;
    box-shadow: 1px 1px 3px 0 rgb(16 42 92 / 30%);
    padding-bottom: 10px;
    z-index: 1;
}

.NavBar .nav-icons {
    width: 100%;
    gap: 0px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    display: grid;
}

.NavBar .nav-icons img {
    width: 40%;
    margin: 15% 30px 15% 30%;
    display: inline-block;
    vertical-align: middle;
}