.BookLink .book-link-icon {
    width: 25%;
    margin-right: 7%;
    display: inline-block;
    vertical-align: middle;
}

.BookLink .book-link-text {
    font-size: 1.3em;
    display: inline-block;
}

.BookLink .arrow {
    width: 7%;
    vertical-align: middle;
    margin-left: 3%; margin-bottom: 2%;
}